/ Page Content
.container
  / Page Heading
  .row
    .col-md-10.col-md-offset-1
      %h2.page-header Selecteer een optie

  .row
    .col-md-10.col-md-offset-1.menu
      = link_to patients_path(hospital: params[:hospital]), class: "btn btn-primary" do
        Overzicht patienten
        %span.glyphicon.glyphicon-chevron-right

  .row
    .col-md-10.col-md-offset-1.menu
      = link_to new_patient_path(hospital: params[:hospital]), class: "btn btn-primary" do
        Invoeren patient
        %span.glyphicon.glyphicon-chevron-right
